<nav class="c-navbar">
    <div class="c-navbar-container">
        <ul class="c-navbar-items">
            <li class="o-navbar-item"><a href="{{ '/' | relative_url }}">Home</a>
                <button id="dark-mode-toggle" class="o-setting-icon" aria-label="Toggle dark mode">
                    {% include svg_html/dark_mode_toggle.html %}
                </button>
                <a href="/feed.xml" class="o-setting-icon" aria-label="RSS feed">
                    {% include svg_html/rss.html %}
                </a>
                <!-- </div> -->
            </li>
            <li class="o-navbar-item"><a href="{{ '/note' | relative_url }}">Note</a>
            </li>
            <li class="o-navbar-item"><a href="{{ '/writing-index' | relative_url }}">Writing</a></li>
            <li class="o-navbar-item"><a href="{{ '/collect' | relative_url }}">Collect</a>
            </li>
            <li class="o-navbar-item"><a href="{{ '/about' | relative_url }}">About</a>
            </li>
        </ul>
    </div>
</nav>
<div class="c-navbar-icon" id="nav-toggle">
    {% include svg_html/menu.html %}
</div>
