<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ '/assets/nav.css' | relative_url }}">
</head>

<body>
    <nav class="c-navbar">
        <div class="c-navbar-container">
            <!-- <div class="c-line"></div> -->
            <ul class="c-navbar-items">
                <li class="o-navbar-item"><a href="{{ '/' | relative_url }}">Home</a>
                    <div class="c-setting-container">
                        <button id="dark-mode-toggle">
                            <!-- <img src="{{ '/assets/night.svg' | relative_url }}" alt="Icon Description"
                                class="o-setting-icon" /> -->
                            {% include svg_switch.html %}
                        </button>
                        <a href="/feed.xml">
                            <!-- <img src="{{ '/assets/rss.svg' | relative_url }}" alt="Icon Description"
                                class="o-setting-icon" /> -->
                            {% include svg_rss.html %}
                        </a>

                        {% include svg_switch.html %}

                        {% include svg_rss.html %}

                    </div>
                </li>
                <li class="o-navbar-item"><a href="{{ '/note' | relative_url }}">Note</a></li>
                <li class="o-navbar-item"><a href="{{ '/writing-index' | relative_url }}">Writing</a></li>
                <li class="o-navbar-item"><a href="{{ '/collection' | relative_url }}">Collection</a></li>
                <li class="o-navbar-item"><a href="{{ '/about' | relative_url }}">About</a></li>
            </ul>
        </div>
    </nav>

    <script>
        // Function to apply the light/dark mode
        function applyMode(mode) {
            if (mode === 'light') {
                document.body.classList.add('light-mode');
                document.querySelectorAll('.l-left, .l-center, .l-right, .c-navbar, .c-line').forEach(el => {
                    el.classList.add('light-mode');
                });
                document.querySelectorAll('.o-navbar-item a, .o-tag-button').forEach(el => {
                    el.classList.add('light-mode');
                });
            } else {
                // dark mode
                document.body.classList.remove('light-mode');
                document.querySelectorAll('.l-left, .l-center, .l-right, .c-navbar, .c-line').forEach(el => {
                    el.classList.remove('light-mode');
                });
                document.querySelectorAll('.o-navbar-item a, .o-tag-button').forEach(el => {
                    el.classList.remove('light-mode');
                });
            }
        }

        // Check for saved mode in local storage
        const savedMode = localStorage.getItem('mode');
        if (savedMode) {
            applyMode(savedMode);
        }

        // Toggle dark mode
        const toggleButton = document.getElementById('dark-mode-toggle');
        toggleButton.addEventListener('click', () => {
            const currentMode = document.body.classList.contains('light-mode') ? 'light' : 'dark';
            const newMode = currentMode === 'light' ? 'dark' : 'light';
            applyMode(newMode);
            localStorage.setItem('mode', newMode);
        });
    </script>

</body>

</html>