/* Styles specific to collection.html */

body {
    overflow: hidden; /* Prevent scrolling on the entire page */
}

.c-collection-container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: auto 1fr;
    gap: 20px;
    width: 100%;
    min-height: 100vh; /* Full viewport height */
    box-sizing: border-box;
    overflow-y: auto; /* Allow vertical scrolling within the container */
}

.o-collection-title {
    grid-column: 1 / -1;
    font-size: 2rem;
    margin-bottom: 1.25rem;
    align-self: flex-start;
    font-family: var(--titleFont);
    position: fixed;
}

.c-collection-nav-container {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
    padding-right: 10px;
    background-color: inherit;
    border-right: 2px solid white;
    height: auto;
    min-height: fit-content;
    align-self: center;
    width: auto;
    max-width: 200px;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
}

.c-collection-nav-container[data-theme="light"] {
    border-right: 2px solid #000000;
}

.o-collection-nav-icon {
    font-size: 1.5rem;
    margin-right: 0.625rem;
    margin-bottom: 3px;
    cursor: pointer;
}

.o-collection-nav-icon.selected {
    text-decoration: underline;
    color: inherit;
}

.c-collection-tile-container {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow-y: scroll;
    padding: 10px;
    background-color: inherit;
    height: auto;
    min-height: fit-content;
    align-self: center;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 20%;
}

.c-collection-item-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.o-collection-item {
    font-size: 1.125rem;
    color: #dddddd;
    margin-bottom: 15px;
    padding-left: 30px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%23dddddd' d='M464 256A208 208 0 1 0 48 256a208 208 0 1 0 416 0zM0 256a256 256 0 1 1 512 0A256 256 0 1 1 0 256zM188.3 147.1c7.6-4.2 16.8-4.1 24.3 .5l144 88c7.1 4.4 11.5 12.1 11.5 20.5s-4.4 16.1-11.5 20.5l-144 88c-7.4 4.5-16.7 4.7-24.3 .5s-12.3-12.2-12.3-20.9l0-176c0-8.7 4.7-16.7 12.3-20.9z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 20px 20px;
}

.o-collection-item:nth-last-of-type(1) {
    margin-bottom: 2rem;
}

.o-collection-item[data-theme="light"] {
    color: #000000;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%23000000' d='M464 256A208 208 0 1 0 48 256a208 208 0 1 0 416 0zM0 256a256 256 0 1 1 512 0A256 256 0 1 1 0 256zM188.3 147.1c7.6-4.2 16.8-4.1 24.3 .5l144 88c7.1 4.4 11.5 12.1 11.5 20.5s-4.4 16.1-11.5 20.5l-144 88c-7.4 4.5-16.7 4.7-24.3 .5s-12.3-12.2-12.3-20.9l0-176c0-8.7 4.7-16.7 12.3-20.9z'/%3E%3C/svg%3E");
}
