:root {
    --paragraphFontSize: 1rem;
    --note-font-size: 1rem;
    --titleFont: system-ui;
    --linkFont: monospace;
    --tagFont: monospace;
    --dateFont: Georgia;
    --backgroundColor: #121212;
    --linkColor: #388dc2;
    --pageEndMargin: 1.25rem;
}

:root[data-theme="light"] {
    --linkColor: #126ba2;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* Prevent double scrollbars */
    user-select: text;
    /* Allow selection */
    -webkit-user-select: text;
    /* For WebKit-based browsers */
    -moz-user-select: text;
    /* For Firefox */
    -ms-user-select: text;
    /* For Internet Explorer/Edge */
}

a {
    text-decoration: none;
}

body {
    background-color: #121212;
    color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1rem;
    /* 16px */
}

/* for the medium size screen like macbook air */
@media (min-width: 1000px) and (max-width: 1440px) and (orientation: landscape) {
    body {
        zoom: 0.8;
    }
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li {
    margin: 10px 0;
}

nav li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1rem;
    /* 16px */
}

/* note that this is for everything except the index.css, which needs to be centered */
/* TODO: refactor this later */
.l-container {
    display: grid;
    grid-template-columns: 5fr 7fr 5fr;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    background-color: #121212;
}

:root[data-theme="light"] .l-container {
    background-color: #f0f0f0;
}

:root[data-theme="light"] .l-center {
    background-color: #121212;
}

/* for mobile & tablet, to make the main content rendered more by making it display as block */
@media (max-width: 1032px) {
    .l-container {
        display: block;
        background-color: #121212;
    }

    .l-left {
        display: none;
    }

    .l-right {
        width: 0;
    }

    .l-center {
        background-color: #121212;
    }
}


.l-grid {
    padding: 20px;
    height: 100%;
    overflow: auto;
}

.l-left {
    background-color: #2c2c2c;
}

.l-center {
    background-color: #2c2c2c;
    padding: 20px;
    scroll-behavior: smooth;
}

.l-right {
    background-color: #2c2c2c;
    position: relative;
}

/* dark mode */
/* Specific styles for paths with data-theme and svg*/
:root[data-theme="dark"] a {
    color: #50b0eb;
}

path {
    fill: #000;
    stroke: #000;
}

:root[data-theme="dark"] path {
    fill: #fff;
    stroke: #fff;
}

:root[data-theme="light"] path {
    fill: #000;
    stroke: #000;
}

line {
    stroke: #000;
}

:root[data-theme="dark"] line {
    stroke: #fff;
}

:root[data-theme="light"] line {
    stroke: #000;
}

path.st0 {
    fill: none;
    stroke: #000000;
    stroke-miterlimit: 10;
}

:root[data-theme="dark"] path.st0 {
    fill: none;
    stroke: #ffffff;
    stroke-miterlimit: 10;
}

:root[data-theme="light"] path.st0 {
    fill: none;
    stroke: #000000;
    stroke-miterlimit: 10;
}

/* for the svg rss */
path.st1 {
    fill: none;
    stroke: #000000;
    stroke-width: 2;
    stroke-miterlimit: 10;
}

:root[data-theme="dark"] path.st1 {
    fill: none;
    stroke: #ffffff;
    stroke-width: 2;
    stroke-miterlimit: 10;
}

/* for the svg rss */
:root[data-theme="light"] path.st1 {
    fill: none;
    stroke: #000000;
    stroke-width: 2;
    stroke-miterlimit: 10;
}

/* Apply dark mode styles based on system preference */
@media (prefers-color-scheme: dark) {
    :root:not([data-theme="light"]) path {
        fill: #fff;
        stroke: #fff;
    }

    :root:not([data-theme="light"]) line {
        stroke: #fff;
    }

    :root:not([data-theme="light"]) path.st0 {
        fill: none;
        stroke: #ffffff;
        stroke-miterlimit: 10;
    }

    :root:not([data-theme="light"]) path.st1 {
        fill: none;
        stroke: #ffffff;
        stroke-width: 2;
        stroke-miterlimit: 10;
    }
}

@keyframes a-underline-text-left-right {
    0% {
        background-size: 100% 1px;
        background-position: 0% 100%;
    }

    100% {
        background-size: 100% 100%;
        background-position: 0% 0%;
    }
}

@keyframes a-underline-text-bottom-up {
    0% {
        background-size: 100% 1px;
        background-position: 0% 100%;
    }

    100% {
        background-size: 100% 100%;
        background-position: 100% 0%;
    }
}