/* Home Page Styles */


.l-container {
    .l-container {
        display: grid;
        grid-template-columns: 4fr 4fr 4fr;
        width: 100%;
        height: 100vh;
        position: relative;
        overflow: hidden;
    }

}

.c-center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.c-index-container {
    margin-left: auto;
    margin-right: auto;
    display: block;
}


/* for mobile in portrait mode */
@media (max-width: 932px) and (orientation: portrait) {
    .c-index-container {
        z-index: 100;
        width: 100%;
    }

    .c-center-container {
        display: block;
        margin-top: 43%;
        margin-left: 1.1rem;
        margin-right: 0px;
        padding: 0;
        /* to disable scrolling */
        position: fixed;
        height: 100vh;
    }
}

/* for mobile in landscape mode; TODO: not working, fix later */
@media (max-width: 932px) and (orientation: landscape) {
    .c-center-container {
        margin-top: 0;
        position: relative;
        height: auto;
    }
}

.c-name-card-container,
.c-info-card-container,
.c-moment-container {
    text-align: left;
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
}

h1.o-name {
    font-size: 2rem;
    font-weight: bold;
    font-family: var(--titleFont);
    margin-bottom: 0;
}

.o-summary {
    margin-top: 2rem;
    line-height: 1.9;
    font-size: 1.1rem;
}

.o-status-quo {
    margin-top: 0.625rem;
    margin-bottom: 0.625rem;
    font-size: 0.8rem;
    font-family: monospace;
}

.o-info {
    display: flex;
    justify-content: left;
    gap: 10px;
    margin-top: 0.5rem;
}

.c-info-card-container {
    margin-top: 2rem;
    margin-bottom: 2.3rem;
    font-family: var(--linkFont);
}

.o-social {
    border-radius: 5px;
    text-decoration: none;
    color: var(--linkColor);
    font-size: 0.9rem;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    text-wrap: nowrap;
}

.c-moment-container {
    display: flex;
    margin-top: 30px;
    justify-content: left;
    gap: auto;
}

.c-quote-container {
    position: absolute;
    top: 35%;
    right: 0%;
    z-index: 100;
    width: 12.5rem;
}


.o-quote,
.o-quote[data-theme="dark"] {
    font-size: 1rem;
    color: #ffffff;
    text-align: center;
    writing-mode: vertical-rl;
    text-orientation: upright;
    max-height: 30%;
}

.o-quote[data-theme="light"] {
    color: #000000;
}


/* the styling for c-index-art-container */
.c-index-art-container {
    position: fixed;
    width: 20vw;
    max-width: min(min(150px, 15vw), 15vh);
    bottom: 0;
    left: 0;
    z-index: 1000;
    padding: 10px;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.c-index-art-container object {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    display: block;
}

/* the styling for the mobile container */
@media (max-width: 1032px) {
    .o-summary {
        font-size: 1rem;
    }

    .c-quote-container {
        width: 4.6875rem;
        /* 75px */
        /* to be consistent with that of c-navbar media rule */
    }

    .c-index-art-container {
        display: none;
    }
}


@media (max-width: 1032px) {
    .c-quote-container {
        display: none;
    }
}