// Variables
$colors-light: (
    background: (
        primary: #ffffff,
        secondary: #f0f0f0
    ),
    text: #000000
);

// Mixins
@mixin light-theme {
    &[data-theme="light"] {
        @content;
    }
}

/* Light mode styles */
body {
    @include light-theme {
        background-color: map-get(map-get($colors-light, background), primary);
        color: map-get($colors-light, text);
    }
}

// Layout components
.l {
    &-left,
    &-center,
    &-right {
        @include light-theme {
            background-color: map-get(map-get($colors-light, background), secondary);
        }
    }
}

// Navigation components
.c {
    &-navbar {
        @include light-theme {
            background-color: map-get(map-get($colors-light, background), secondary);
        }
    }

    &-line {
        @include light-theme {
            background-color: map-get($colors-light, text);
        }
    }
}

// Navigation items
.o-navbar-item {
    a {
        @include light-theme {
            color: map-get($colors-light, text);
        }
    }
}