/* Styles specific to note.html */

.c-note-container {
    margin: 1.25rem;
}

.o-note-title {
    font-size: 2rem;
    margin-bottom: 1.25rem;
    font-family: var(--titleFont);
}

.c-note-item-container {
    margin-bottom: 1.25rem;
    border-bottom: 0.0625rem solid #555555;
    padding-bottom: 0.625rem;
}

.c-note-item-container p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 1.5;
}

.o-note-date {
    font-size: 1rem;
    color: #bbbbbb;
    margin-bottom: 0.3125rem;
    font-family: var(--dateFont);
}

:root[data-theme="light"] .o-note-date {
    color: #666666;
}

.o-note-text {
    font-size: var(--note-font-size);
    color: #dddddd;
    font-weight: 400;
}

:root[data-theme="light"] .o-note-text {
    color: #000000;
}

.o-note-footer {
    text-align: center;
    margin-top: 1.25rem;
    font-size: 0.875rem;
    color: #bbbbbb;
    padding-bottom: var(--pageEndMargin);
}

:root[data-theme="light"] .o-note-footer {
    color: #666666;
}