.toc-container {
    position: absolute; /* Position the TOC absolutely */
    top: 0;             /* Align it to the top */
    left: 0;            /* Align it to the left */
    margin: 10px;
    margin-top: 15px;          /* Remove any default margin */
    padding: 10px;      /* Add some padding for aesthetics */
    z-index: 1000;      /* Ensure it is on top of other elements */
    list-style: none;
    font-family: monospace;
}

.toc-container::before {
    content: "目录";
    text-decoration: underline;
    display: block;
    margin-bottom: 8px;
}

@media (max-width: 1032px) {
    .toc-container {
        display: none;
    }
}

.toc-container ul {
    list-style: none;
}

.toc-container li {
    margin-bottom: 7px;
}

.toc-container ul li:first-child {
    margin-top: 7px;
}

.toc-container ul li {
    margin-bottom: 5px;
}

a {
    color: var(--linkColor);
}

.c-writing-post-meta-container {
    margin: 20px;
}

.o-writing-title {
    font-size: 2rem;
    margin-bottom: 1.25rem;
}

.o-writing-post-title {
    font-size: 2rem;
    margin-bottom: 0.625rem;
}

.c-writing-post-date {
    font-size: 1rem;
    color: #a3a3a3;
    margin-bottom: 0.625rem;
    font-family: var(--dateFont);
    display: inline-block;
}

.c-writing-post-date[data-theme="light"] {
    color: #666666;
}

.c-writing-post-tag-container::before {
    content: "|";
    margin-right: 5px;
    margin-left: 5px;
}

.c-writing-post-tag-container {
    display: inline-block;
    margin-top: 0.625rem;
    margin-bottom: 10px;
    display: inline-block;
}

.o-writing-post-tag {
    border-radius: 0.1875rem;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #bbbbbb;
    font-family: var(--tagFont);
    text-decoration: none;
    transition: color 0.5s;
}


.o-writing-post-tag[data-theme="light"] {
    color: #666666;
}

.o-writing-post-text {
    font-size: 1rem;
    color: #dddddd;
    margin-bottom: 1.25rem;
    border-bottom: 0.0625rem solid #555555;
    padding-bottom: var(--pageEndMargin);
    border-bottom: 0.0625rem solid #555555;
    font-weight: 400;
}

.o-writing-post-text p {
    line-height: 2.0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.o-writing-post-text[data-theme="light"] {
    color: #000000;
}

/* for writing image container */
.center-image {
    width: 100%;
    height: auto;
    max-height: 70vh;
    object-fit: contain;
    border-radius: 5px;
    margin-top: 10px;
}

.image-caption {
    display: block;
    text-align: center;
    margin-top: 10px;
    font-style: normal;
    color: #666;
}