/* Styles specific to about.html */

body.about-page {
    /* background: url("{{ '/assets/kokoro.svg' | relative_url }}") no-repeat center center fixed; */
    background: url(/assets/kokoro.svg) no-repeat center center fixed;
    background-size: cover;
    /* Additional styles */
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}


.c-about-container {
    margin: 20px;
    border-bottom: 1px solid #555555;
    z-index: 1;
}

.o-about-title {
    font-size: 32px;
    margin-bottom: 20px;
}

.o-about-item {
    margin-bottom: 20px;
}

.o-about-item-title {
    font-size: 24px;
    margin-bottom: 10px;
}

.o-about-item-title::before {
    content: "#";
    margin-right: 1px;
}

.o-about-item-subtitle {
    font-size: 20px;
    margin-bottom: 5px;
}

.o-about-item-subtitle::before {
    content: "|";
    margin-right: 1px;
}

.o-about-content {
    font-size: 18px;
    color: #dddddd;
    margin-bottom: 10px;
}