/* Styles specific to about.html */

/* body.about-page {
    background: url(/assets/kokoro.svg) no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    z-index: 1000;
} */

p {
    line-height: 1.3em;
}

a {
    text-decoration: none;
}

.c-about-container {
    margin: 20px;
    border-bottom: 1px solid #555555;
    z-index: 1000;
    position: relative;
    /* background: url(/assets/kokoro.svg) no-repeat center center fixed;
    --webkit-background-composite: multiply !important; */
}

@media (prefers-color-scheme: dark) {
    .c-about-container {
        background: url(/assets/kokoro.svg) no-repeat center center fixed !important;
        object-fit: contain;
    }
}

.o-about-title {
    font-size: 32px;
    margin-bottom: 20px;
}


.o-about-item-title {
    font-size: 24px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.o-about-item-title::before {
    content: "#";
    margin-right: 1px;
}

.o-about-item-subtitle {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.o-about-item-subtitle::before {
    content: "|";
    margin-right: 1px;
}

.o-about-content {
    font-size: 18px;
    /* color: #dddddd; */
    margin: 0px;
}