:root {
    --paragraphFontSize: 1rem;
    --note-font-size: 1rem;
    --titleFont: system-ui;
    --linkFont: monospace;
    --tagFont: monospace;
    --dateFont: Georgia;
    --backgroundColor: #121212;
    --linkColor: #388dc2;
    /* Added this line */
    --pageEndMargin: 1.25rem;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* Prevent double scrollbars */
    user-select: text;
    /* Allow selection */
    -webkit-user-select: text;
    /* For WebKit-based browsers */
    -moz-user-select: text;
    /* For Firefox */
    -ms-user-select: text;
    /* For Internet Explorer/Edge */
}

a {
    text-decoration: none;
}

body {
    background-color: #121212;
    color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1rem;
    /* 16px */
}

/* for the medium size screen like macbook air */
@media (min-width: 1000px) and (max-width: 1440px) and (orientation: landscape) {
    body {
        zoom: 0.8;
    }
}

header {
    position: fixed;
    top: 0;
    right: 0;
    padding: 20px;
    width: 200px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li {
    margin: 10px 0;
}

nav li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1rem;
    /* 16px */
}

/* note that this is for everything except the index.css, which needs to be centered */
/* TODO: refactor this later */
.l-container {
    display: grid;
    grid-template-columns: 5fr 7fr 5fr;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    background-color: #121212;
}

/* for mobile & tablet, to make the main content rendered more by making it display as block */
@media (max-width: 1032px) {
    .l-container {
        display: block;
        background-color: #121212;
        /* margin-left: 1.5rem;
        margin-right: 1.5rem; */
    }

    .l-left {
        display: none;
    }

    .l-right {
        width: 0;
    }

    .l-center {
        /* margin-left: 1.5rem;
        margin-right: 1.5rem; */
        background-color: #121212;
    }
}


.l-grid {
    padding: 20px;
    height: 100%;
    overflow: auto;
}

.l-left {
    background-color: #2c2c2c;
}

.l-center {
    /* background-color: #333333; */
    background-color: #2c2c2c;
    padding: 20px;
    /* border-left: 1px solid #ffffff;
    border-right: 1px solid #ffffff; */
}

.l-right {
    background-color: #2c2c2c;
    position: relative;
}

/* dark mode */
/* Specific styles for paths with data-theme and svg*/
a[data-theme="dark"] {
    color: #50b0eb;
}

path[data-theme="dark"] {
    fill: #fff;
    stroke: #fff;
}

path[data-theme="light"] {
    fill: #000;
    stroke: #000;
}

line[data-theme="dark"] {
    stroke: #fff;
}

line[data-theme="light"] {
    stroke: #000;
}

path[data-theme="dark"].st0 {
    fill: none;
    stroke: #ffffff;
    stroke-miterlimit: 10;
}

path[data-theme="light"].st0 {
    fill: none;
    stroke: #000000;
    stroke-miterlimit: 10;
}

/* for the svg rss */
path[data-theme="dark"].st1 {
    fill: none;
    stroke: #ffffff;
    stroke-width: 2;
    stroke-miterlimit: 10;
}

/* for the svg rss */
path[data-theme="light"].st1 {
    fill: none;
    stroke: #000000;
    stroke-width: 2;
    stroke-miterlimit: 10;
}

/* Add this at the end of the file */
object[data*="spider-lily.svg"][data-theme="dark"] {
    filter: invert(100%);
    transition: filter 1s ease;
}

object[data*="spider-lily.svg"][data-theme="light"] {
    filter: invert(0%);
    transition: filter 1s ease;
}

/* Common animation for underline text */
@keyframes a-underline-text-left-right {
    0% {
        background-size: 100% 1px;
        background-position: 0% 100%;
    }

    100% {
        background-size: 100% 100%;
        background-position: 0% 0%;
    }
}

@keyframes a-underline-text-bottom-up {
    0% {
        background-size: 100% 1px;
        background-position: 0% 100%;
    }

    100% {
        background-size: 100% 100%;
        background-position: 100% 0%;
    }
}