/* Home Page Styles */


.l-container {
    overflow: hidden;
}

.c-center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.c-index-container {
    width: 400px;
    /* margin-left: auto;
    margin-right: auto; */
    margin: auto;
    display: block;
}


@media (max-width: 767px) {
    .c-index-container {
        z-index: 100;
    }
}

.c-name-card-container,
.c-info-card-container,
.c-moment-container {
    text-align: left;
    width: 100%;
    height: 100%;
    display: block;
    position: relative
}

.o-name {
    font-size: 2em;
    font-weight: bold;
}

.o-summary {
    margin-top: 40px;
    line-height: 1.5;
    font-size: 1.1em;
}

.o-status-quo {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 0.8em;
}

.o-info {
    display: flex;
    justify-content: left;
    gap: 10px;
    margin-top: 20px;
}

.c-info-card-container {
    margin-top: 50px;
    margin-bottom: 50px;
}

.o-social {
    /* margin: 10px; */
    border-radius: 5px;
    text-decoration: none;
    color: #1E90FF;
}

.c-moment-container {
    /* display: flex;
    justify-content: center;
    gap: 20px; */
    display: flex;
    margin-top: 30px;
    justify-content: left;
    gap: auto;
}

.o-moment-item {
    display: flex;
    background-color: #25020233;
    width: 55px;
    height: 55px;
    padding: 15px;
    font-size: 12px;
    margin-right: 20px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.c-quote-container {
    position: absolute;
    top: 35%;
    right: 0%;
    z-index: 100;
    width: 200px;
}

@media (max-width: 768px) {
    .c-quote-container {
        width: 75px; /* to be consistent with that of c-navbar media rule */
    }
}


@media (max-width: 550px) {
    .c-quote-container {
        display: none;
    }
}

.o-quote, .o-quote[data-theme="dark"] {
    font-size: 1em;
    color: #ffffff;
    text-align: center;
    writing-mode: vertical-rl;
    text-orientation: upright;
}

.o-quote[data-theme="light"] {
    color: #000000;
}


/* the styling for c-index-art-container */
.c-index-art-container {
    position: fixed;
    width: 20vw;
    max-width: min(min(200px, 20vw), 30vh);
    bottom: 0;
    left: 0;
    z-index: 1000;
    /* Ensure it's above other elements */
    padding: 10px;
    /* Optional padding for spacing */
    pointer-events: none;
    /* Prevents interaction with the SVG */
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
}

.c-index-art-container img {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    display: block;
}