/* light mode style */
/* Light mode styles */
body.light-mode {
    background-color: #ffffff;
    color: #000000;
}

.l-left.light-mode,
.l-center.light-mode,
.l-right.light-mode,
.c-navbar.light-mode {
    background-color: #f0f0f0;
}

.c-line.light-mode {
    background-color: #000000;
}

.o-navbar-item a.light-mode {
    color: #000000;
}

.o-navbar-item a.light-mode:hover {
    color: #333333;
}
/*
.o-tag-button[data-theme="light"] {
    background-color: #ffffff;
    color: #000000;
}

.o-tag-button[data-theme="light"]:hover {
    background-color: #cccccc;
} */