/* Styles specific to writing-index.html */

.c-writing-container {
    margin: 20px;
    border-bottom: 1px solid #555555;
}

.c-writing-item-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Start items at the top */
    align-items: center; /* Center the container horizontally */
    text-align: left; /* Align text to the left inside the container */
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 800px; /* Optional: Set a max width for the container */
    padding: 15px;
    box-sizing: border-box; /* Include padding in the width calculation */
}

.c-writing-note-container, .o-writing-title, .o-writing-note-date, .o-post-title, .o-writing-footer {
    width: 100%;
    display: block;
    position: relative;
}

.c-writing-note-container {
    /* background-color: #444444; */
    padding: 15px 0px;
    border-radius: 5px;
    display: inline-block;
}

.o-writing-title {
    font-size: 32px;
    margin-bottom: 20px 0;
}

.o-writing-note-date {
    font-size: 14px;
    color: #bbbbbb;
}

.c-hashtag-container {
    margin-top: 10px;
}

.o-hashtag-item {
    display: inline-block;
    margin-right: 10px;
    background-color: #555555;
    padding: 5px 10px;
    border-radius: 3px;
    color: #ffffff;
    font-size: 14px;
}

.o-post-title {
    font-size: 24px;
    margin-bottom: 20px 0;
}


.o-writing-footer {
    text-align: center;
    margin-top: 20px;
    border-top: 1px solid #555555;
    padding-top: 10px;
}