/* Styles specific to writing-index.html */

.o-writing-index-title {
    font-family: var(--titleFont);
}

.c-writing-index-container {
    margin: 20px;
    border-bottom: 1px solid #555555;
}

.c-writing-item-container {
    display: block;
    /* Treat the container as a block-level element */
    margin: 0 auto;
    /* Center the container horizontally */
    margin-bottom: 50px;
    width: 30%;
    box-sizing: border-box;
    /* Include padding in the width calculation */
    text-align: left;
    /* Ensure contents inside are left-aligned */
}

.c-writing-note-container,
.o-writing-note-date,
.o-writing-footer {
    width: 100%;
    /* Make these elements span the full width */
    display: block;
    /* Block display ensures elements stack vertically */
    margin-bottom: 10px;
    /* Add some spacing between elements, if needed */
}

.c-writing-note-container {
    /* background-color: #444444; */
    padding: 15px 0px;
    border-radius: 5px;
    display: inline-block;
}

.o-writing-note-date {
    margin: 5px 0;
    font-size: 0.875rem;
    /* 14px */
    color: #bbbbbb;
    font-family: var(--dateFont);
}


.c-tag-container {
    margin-top: 5px;
    margin-bottom: 20px;
}

.o-tag {
    display: inline-block;
    margin-right: 10px;
    /* Added margin-right */
    border-radius: 3px;
    font-size: 1rem;
    /* 16px */
    line-height: 1.5em;
    color: #ffffff;
    font-family: serif, Times;
    text-decoration: none;
    background-size: 100% 0%;
    background-repeat: no-repeat;
    background-position: 0% 100%;
    transition: color 0.5s;
    font-family: var(--tagFont);
}

span.o-tag {
    border: 0px;
    background: none;
    color: inherit;
    margin-left: 0px;
    margin-right: 5px;
}

@keyframes a-underline-text {
    0% {
        background-size: 100% 0%;
        background-position: 0% 100%;
    }

    100% {
        background-size: 100% 100%;
        background-position: 0% 0%;
    }
}

.o-tag:hover {
    color: #bbbbbb;
    animation: a-underline-text 0.5s forwards;
}

.o-tag::before {
    content: "#";
    /* Insert the # symbol before the content */
    margin-right: 1px;
    /* Add some space between the # and the text */
}

.o-post-title {
    font-size: 1.5rem;
    /* 24px */
    margin-bottom: 0.625rem;
    /* 10px */
    color: var(--linkColor);
}


.o-writing-footer {
    text-align: center;
    margin-top: 20px;
    border-top: 1px solid #555555;
    padding-top: 10px;
}

/* css styling for pagination */
.pagination {
    text-align: center;
    margin: 20px 0;
}

.pagination ul {
    list-style: none;
    padding: 0;
    display: inline-block;
}

.pagination li {
    display: inline;
    margin: 0 5px;
}

.pagination a,
.pagination .current-page {
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    color: #555;
}

.pagination a:hover {
    background-color: #ddd;
}

.pagination .current-page {
    font-weight: bold;
    background-color: #f0f0f0;
}