/* Styles specific to writing.html */

.c-writing-post-meta-container {
    margin: 20px;
}

.o-writing-title {
    font-size: 2rem;
    /* 32px */
    margin-bottom: 1.25rem;
    /* 20px */
}

.o-writing-post-title {
    font-size: 2rem;
    /* 32px */
    margin-bottom: 0.625rem;
    /* 10px */
}

.c-writing-post-date {
    font-size: 1rem;
    /* 16px */
    color: #bbbbbb;
    margin-bottom: 0.625rem;
    /* 10px */
    font-family: var(--dateFont); /* Add this line */
}

.c-writing-post-tag-container {
    margin-top: 0.625rem;
    /* 10px */
    margin-bottom: 1.875rem;
    /* 30px */
}

.o-writing-post-tag {
    display: inline-block;
    /* margin-right: 0.3125rem; /* 5px */
    border-radius: 0.1875rem;
    /* 3px */
    font-size: 1rem;
    /* 16px */
    line-height: 1.5rem;
    /* 24px */
    color: #ffffff;
    font-family: serif, Times;
    text-decoration: none;
    transition: color 0.5s;
}


.o-writing-post-tag[data-theme="light"] {
    color: #bbbbbb;
}

/* .o-writing-post-tag::before {
    content: "#";
    margin-right: 0.0625rem; /* 1px */

.o-writing-post-text {
    font-size: 1rem;
    /* 16px */
    line-height: 1.6;
    color: #dddddd;

    margin-bottom: 1.25rem;
    /* 20px */
    border-bottom: 0.0625rem solid #555555;
    /* 1px */
    padding-bottom: 0.625rem;
    /* 10px */
    border-bottom: 0.0625rem solid #555555;
}


.o-writing-post-text[data-theme="light"] {
    color: #000000;
}