/* Styles specific to writing-index.html */

.o-writing-index-title {
    font-family: var(--titleFont);
}

.c-writing-index-container {
    margin: 20px;
    position: relative;
    /* Ensure the container is positioned relative for the pseudo-element */
}

.c-tag-container-meta {
    margin-bottom: 2rem;
}

.c-hashtag-container-post {
    display: flex;
    gap: 5px
}

.c-writing-index-container::after {
    content: "ₖ₇";
    font-size: 1.3rem;
    display: block;
    width: 100%;
    height: 1px;
    background-color: darkgray;
    margin: 0 auto;
    margin-top: 2rem;
    position: absolute;
    bottom: -5px;
    left: 0;
    text-align: center;
    transform: translateY(2.5rem);
    color: darkgray;
}

.c-writing-index-container::after[data-theme="light"] {
    background-color: #666666;
    color: #666666;
}

.c-writing-item-container {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    margin: 0 auto;
    text-align: left;
    justify-content: space-between;
    align-items: end;
}


.o-writing-note-date {
    width: 50%;
    /* Make these elements span the full width */
    display: block;
    /* Block display ensures elements stack vertically */
    margin-bottom: 10px;
    color: #bbbbbb;
    /* Add some spacing between elements, if needed */
}

.o-writing-note-date {
    margin: 10px 0;
    font-size: 0.9rem;
    width: 100%;
    color: #999999;
    font-family: var(--dateFont);
}

.o-writing-note-date[data-theme="light"] {
    color: #666666;
    /* Darker gray for light mode */
}

#all-tag {
    color: #cea2fd;
}

#all-tag[data-theme="light"] {
    color: #a55df1;
}

.o-tag {
    display: inline-block;
    border-radius: 3px;
    font-size: 1rem;
    line-height: 1.5em;
    font-family: serif, Times;
    text-decoration: none;
    background-image: linear-gradient(to top, #ffffff 1px, transparent 1px);
    background-size: 0px;
    background-repeat: no-repeat;
    background-position: 0% 100%;
    transition: color 0.3s;
    font-family: var(--tagFont);
    border: 0px;
    color: inherit;
    margin-left: 0px;
    margin-right: 8px;
    margin-bottom: 5px;
}

.o-tag[data-theme="light"] {
    color: #000000;
    background-image: linear-gradient(to top, #000000 1px, transparent 1px);
}

.o-tag[data-theme="dark"] {
    color: #ffffff;
    background-image: linear-gradient(to top, #ffffff 1px, transparent 1px);
}

span.o-tag:hover {
    animation: a-underline-text-left-right 0.5s forwards;
}

/* for selected tag */
.selected-tag[data-theme="light"] {
    color: #000000;
    background-image: linear-gradient(to top, #000000 1px, transparent 1px);
    background-size: 100%;
}

.selected-tag[data-theme="dark"] {
    color: #ffffff;
    background-image: linear-gradient(to top, #ffffff 1px, transparent 1px);
    background-size: 100%;
}

.o-tag::before {
    content: "#";
    /* Insert the # symbol before the content */
    margin-right: 1px;
    /* Add some space between the # and the text */
}

.o-post-tag {
    background-size: 0px;
    color: darkgray;
    font-family: var(--tagFont);
    font-size: 0.9rem;
}

.o-post-tag::after {
    content: "/";
    margin-left: 5px;
}

.o-post-tag:last-child::after {
    content: "";
}

.o-post-tag[data-theme="light"] {
    color: #666666;
}

.c-post-title-container {
    width: 50%;
}

.o-post-title {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 1.3rem;
    /* 24px */
    margin-bottom: 0.625rem;
    /* 10px */
}

h3.o-post-title a {
    color: var(--titleColor);
    /* color: #2e5984; */
}