<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Kai Qu's personal website">
    <link rel="icon" href="/assets/k-icon.png" style="size: 30px">
    <meta name="keywords" content="{{ page.keywords }}">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/default.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/light-mode.css' | relative_url }}">
</head>

<body>
    <div class="l-container">
        <div class="l-grid l-left">
            <!-- Left empty space (3 parts) -->
        </div>
        <div class="l-grid l-center">
            <!-- Main content (6 parts) -->
            {{ content }}
        </div>
        <div class="l-grid l-right">
            <!-- Navbar (3 parts) -->
            {% include nav.html %}
        </div>
    </div>
</body>
<script type="module" src="https://unpkg.com/open-stories-element@latest"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const prefersDark = window.matchMedia('(prefers-color-scheme: dark)');
        const navbar = document.querySelector('.c-navbar-container');

        // Check for saved mode in local storage
        const savedMode = localStorage.getItem('mode');
        if (savedMode) {
            applyMode(savedMode);
        } else {
            // Set theme based on system preference if no preference is set in localStorage
            if (prefersDark.matches) {
                navbar.setAttribute('data-theme', 'dark');
                applyMode('dark');
            } else {
                navbar.setAttribute('data-theme', 'light');
                applyMode('light');
            }
        }
    });
</script>

</html>