---
layout: default
---

<head>
    <link rel="stylesheet" href="{{ '/stylesheets/main.css' | relative_url }}">
    <title>{{ page.title }}</title>
</head>

{% include toc.html html=content class="toc-container" %}

<div class="c-writing-post-meta-container">
    <h1 class="o-writing-post-title">{{ page.title | replace: "| Kai Qu", "" }}</h1>
    <div class="c-writing-post-date" data-theme="">{{ page.date | date: "%B %d, %Y" }}</div>
    <div class="c-writing-post-tag-container">
        {% for tag in page.tags %}
        <span class="o-writing-post-tag" data-theme="light">{{ tag }}</span>
        {% unless forloop.last %}<span style="margin-left: 2px; margin-right: 2px;"> / </span>{% endunless %}
        {% endfor %}
    </div>
    <div class="o-writing-post-text" data-theme="light">
        {{ content }}
    </div>
</div>


<script>
    // open all links in .o-writing-post-text in a new tab
    document.addEventListener("DOMContentLoaded", function () {
        var links = document.querySelectorAll('.o-writing-post-text a');
        links.forEach(function (link) {
            link.setAttribute('target', '_blank');
        });
    });

    document.addEventListener("DOMContentLoaded", function () {
        const tocContainer = document.querySelector('.toc-container');

        if (tocContainer) {
            console.log("tocContainer", tocContainer);
            tocContainer.addEventListener('click', function (event) {
                console.log("event", event);
                console.log("adding event listener");
                // Ensure the clicked element is an <a> within an <li> of the <ul> with class 'toc-container'
                if (event.target.matches('ul.toc-container > li > a')) {
                    console.log("matches");
                    // Check if the TOC is overflown
                    const isOverflown = tocContainer.scrollHeight > tocContainer.clientHeight;

                    if (isOverflown) {
                        // Prevent default behavior if the TOC is overflown
                        event.preventDefault();

                        // Get the target element from the clicked link
                        const targetId = event.target.getAttribute('href');
                        const targetElement = document.querySelector(targetId);
                        console.log("targetElement", targetElement);

                        if (targetElement) {
                            // Scroll the target element into view
                            targetElement.scrollIntoView({ behavior: 'smooth' });
                        }
                    }
                }
            });
        }
    });
</script>