---
layout: default
---

<head>
    <link rel="stylesheet" href="{{ '/assets/writing.css' | relative_url }}">
</head>

<div class="c-writing-post-meta-container">
    <h1 class="o-writing-post-title">{{ page.title }}</h1>
    <div class="c-writing-post-date">{{ page.date | date: "%B %d, %Y" }}</div>
    <div class="c-writing-post-tag-container">
        {% for tag in page.tags %}
        <span class="o-writing-post-tag">{{ tag }}</span>
        {% unless forloop.last %} / {% endunless %}
        {% endfor %}
    </div>
    <div class="o-writing-post-text" data-theme="light">
        {{ content }}
    </div>
</div>