---
layout: default
---

<head>
    <title>{{ page.title }}</title>
</head>

{% include toc.html html=content class="toc-container" %}

<div class="c-writing-post-meta-container">
    <h1 class="o-writing-post-title">{{ page.title | replace: "| Kai Qu", "" }}</h1>
    <div class="c-writing-post-date" data-theme="">{{ page.date | date: "%B %d, %Y" }}</div>
    <div class="c-writing-post-tag-container">
        {% for tag in page.tags %}
        <span class="o-writing-post-tag" data-theme="light">{{ tag }}</span>
        {% unless forloop.last %}<span style="margin-left: 2px; margin-right: 2px;"> / </span>{% endunless %}
        {% endfor %}
    </div>
    <div class="o-writing-post-text" data-theme="light">
        {{ content }}
    </div>
</div>


<script>
    // open all links in .o-writing-post-text in a new tab
    document.addEventListener("DOMContentLoaded", function () {
        var links = document.querySelectorAll('.o-writing-post-text a');
        links.forEach(function (link) {
            link.setAttribute('target', '_blank');
        });
    });

    document.querySelectorAll('a[href^="#"]').forEach(anchor => {
        anchor.addEventListener('click', function (e) {
            e.preventDefault();
            const targetId = this.getAttribute('href').substring(1);
            const targetElement = document.getElementById(targetId);
            if (targetElement) {
                const elementRect = targetElement.getBoundingClientRect();
                const absoluteElementTop = elementRect.top + window.pageYOffset;
                const middle = absoluteElementTop - (window.innerHeight - elementRect.height);

                console.log("elementRect.top", elementRect.top);
                console.log("elementRect.height", elementRect.height);
                console.log("window.innerHeight", window.innerHeight);
                console.log('Current Scroll Position:', window.pageYOffset);
                console.log('Target Element Top:', absoluteElementTop);
                console.log('Calculated Scroll Position:', middle);

                // window.scrollTo({
                //     top: 50,
                //     behavior: 'smooth'
                // });
                window.scrollTo(0, 50);
            }
        });
    });
</script>